[submodule "reg_utils"]
	path = reg_utils
	url = https://github.com/lpetre-ulb/reg_utils.git
[submodule "xhal"]
	path = xhal
	url = https://github.com/lpetre-ulb/xhal.git
[submodule "cmsgemos"]
	path = cmsgemos
	url = https://github.com/lmoureaux/cmsgemos.git
[submodule "occi-abicompat/cmake"]
	path = occi-abicompat/cmake
	url = git@github.com:lpetre-ulb/gembuild.git
